<section class="space-y-5">
  <app-pos-header-filters
    [empresaId]="empresaId()"
    [loading]="vm.loading()"
    [error]="vm.error()"
    [q]="vm.q()"
    [categoriaId]="vm.categoriaId()"
    [categories]="vm.categories()"
    [ticketCount]="vm.ticketCount()"
    (qChange)="vm.setQ($event)"
    (categoriaChange)="vm.setCategoria($event)"
    (search)="vm.search()"
    (reload)="vm.loadInit()"
    (clearTicket)="vm.clearTicket()"
  />

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 xl:col-span-8">
      <app-pos-catalog
        [loading]="vm.loading()"
        [products]="vm.products()"
        [imageUrlFn]="vm.imageUrl.bind(vm)"
        [fmtFn]="fmt.bind(this)"
        (add)="vm.addToTicket($event)"
        (prev)="vm.prev()"
        (next)="vm.next()"
      />
    </div>

    <aside class="col-span-12 xl:col-span-4">
      <app-pos-checkout
        [placing]="vm.placing()"
        [placeError]="vm.placeError()"
        [successVentaId]="vm.successVentaId()"
        [ticketItems]="vm.ticketItems()"
        [ticketCount]="vm.ticketCount()"
        [ticketSubtotal]="vm.ticketSubtotal()"
        [total]="vm.total()"
        [cambio]="vm.cambio()"
        [clientMode]="vm.clientMode()"
        [clientLoading]="vm.clientLoading()"
        [clientError]="vm.clientError()"
        [clientForm]="vm.clientForm()"
        [payment]="vm.payment()"
        [fmtFn]="fmt.bind(this)"
        (inc)="vm.inc($event)"
        (dec)="vm.dec($event)"
        (setQty)="vm.setQty($event.producto_id, $event.qty)"
        (remove)="vm.remove($event)"
        (lookupClient)="vm.lookupClient()"
        (createClient)="vm.createClient()"
        (clearClient)="vm.clearClient()"
        (setClientField)="vm.setClientField($event.key, $event.value)"
        (setPaymentField)="vm.setPaymentField($event.key, $event.value)"
        (confirmSale)="vm.createSale()"
        (downloadReceipt)="downloadReceipt()"
        (shareReceipt)="shareReceipt()"
      />
    </aside>
  </div>
</section>
